/*为了区别 bootstrap 的样式，所以所有的 css 类都加上了 app-* 前缀*/

/*loading 样式 Start*/
.app-startup-loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 200px;
}

/*loading 样式 End*/
/*欢迎页 Start*/
.app-hello {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
}

.app-hello-msg {
    margin-top: 80px;
}

.app-hello-me {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
}

/*欢迎页 End*/
/*顶部导航栏 Start*/
@media (max-width: 768px) {
    .app-nav-right {
        margin: 0;
    }

    .app-margin-left-fix, .app-dropdown-list > li > a {
        padding-left: 0 !important;
    }

    .app-nav-group, .app-dropdown-btn {
        position: absolute;
    }

    .app-nav-group {
        right: 50px;
    }

    .app-dropdown-btn {
        right: 0;
    }
}

@media (min-width: 768px) {
    .app-nav-group {
        margin-right: 8px;
    }
}

/*顶部导航栏 End*/

/*内容 Start*/
#tabs-content > section {
    display: none;
}

#tabs-content > section.active {
    display: block;
}

/*内容 End*/
#btn-fav.active {
    color: red;
}

.app-text-content > p {
    text-indent: 2em;
}
