<div switch-to>
    <header>第{{detail.id}}期<span>{{detail.date.year}}年{{detail.date.month}}月{{detail.date.day}}日</span></header>
    <div class="vol-section vol-index">
        <div><img ng-src="{{detail.index.imgUrl}}" alt="{{detail.index.imgTitle}}" /></div>
        <div>{{detail.index.imgTitle}} by {{detail.index.imgAuthor}}</div>
        <div>{{detail.index.text}}</div>
    </div>
    <div class="vol-section vol-article">
        <div>{{detail.article.summary}}</div>
        <h2>{{detail.article.title}}</h2>

        <div>{{detail.article.author}}</div>
        <div ng-bind-html="detail.article.content"></div>
    </div>
    <div class="vol-section vol-qa">
        <h4>{{detail.qa.q_title}}</h4>

        <div>{{detail.qa.question}}</div>
        <h4>{{detail.qa.a_title}}</h4>

        <div ng-bind-html="detail.qa.answer"></div>
    </div>
    <div class="vol-section vol-dx">
        <div><img ng-src="{{detail.dx.imgUrl}}" alt="{{detail.dx.title}}" /></div>
        <h4>{{detail.dx.title}}</h4>
        <div>{{detail.dx.summary}}</div>
    </div>
</div>
