<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <span class="navbar-brand">第845期</span><span class="glyphicon glyphicon-heart"></span>

        <div class="pull-right btn-group">
            <button class="btn btn-default">
                <span class="glyphicon glyphicon-menu-left"></span>
            </button>
            <button class="btn btn-default">
                <span class="glyphicon glyphicon-menu-right"></span>
            </button>
            <button class="btn btn-default">
                <span class="glyphicon glyphicon-menu-hamburger"></span>
            </button>
        </div>
    </div>
</nav>
<!--<main style="margin-top: 60px;margin-bottom: 40px;">-->
<main>
    <div style="height: 55px">just height</div>
    <section>
        <div class="container">
            <img class="img-responsive" src="http://pic.yupoo.com/hanapp/EA83Fcvh/custom.jpg" />

            <h3>图片标题
                <small>作者名称</small>
            </h3>
            <p>
                这里是废话一堆
            </p>
        </div>
    </section>
    <section>
        <div class="container">
            <blockquote>
                <p>这里是文章的见解</p>
            </blockquote>
            <h2>文章标题<small>作者名称</small></h2>
        </div>
    </section>
    <div style="height: 40px">just height</div>
</main>

<nav class="navbar navbar-fixed-bottom" style="min-height: inherit;">
    <div class="container">
        <div class="btn-group btn-group-justified">
            <a class="btn">首页</a>
            <a class="btn">文章</a>
            <a class="btn">问题</a>
            <a class="btn">东西</a>
        </div>
    </div>
</nav>
