<ion-pane ng-controller="NavController">
    <ion-nav-bar>
        <ion-nav-title>
        </ion-nav-title>
        <ion-nav-buttons side="left">
            <button type="button" class="button button-clear icon ion-navicon-round" menu-toggle="left"></button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button type="button" class="button icon ion-ios-arrow-left" on-tap="prev()"></button>
            <button type="button" class="button icon ion-ios-arrow-right" on-tap="next()"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view></ion-nav-view>
</ion-pane>
