<div class="vol-content" style="padding:3%">
    <span onclick="history.back()" style="color:cornflowerblue;">返回上一页</span>

    <h2>关于“另『一个』”</h2>

    <p>作为一个文艺青年<span style="font-size:0.8rem;">兼程序员</span>，我经常在<a target="_blank" href="http://wufazhuce.com/one/">『一个』</a>手机 APP 上看文章，但是有几点让我不太舒服（按不舒服的程度排序）：</p>
    <ul>
        <li>1、只提供最新的10篇文章</li>
        <li>2、文章没有保存在手机里，每次打开都需要有网络</li>
        <li>3、收藏文章需要登录（天，我还得去注册一个新浪账号）</li>
        <li>4、（听说）收藏的文章动不动就没了</li>
    </ul>
    <p>『一个』上面的文章那么好，我非常希望将它永久保存在手机里，日后即使一个人在荒山野岭没有网络的地方，也能翻出来重温一番。</p>

    <p>——于是就有你现在看到的这个“另『一个』” 了，哈哈名字有没有很文（dou）艺（bi）！</p>

    <p>你现在看到的应该是在线预览版，所以还是需要网络才能看。等我把它完善之后再把它变成一个手机 APP ，你就可以离线阅读了！</p>

    <p>最后，另『一个』是开源软件，源代码（及我的联系方式）在这里（最好用电脑访问）：<a target="_blank" href="https://github.com/lmk123/app-another-one">https://github.com/lmk123/app-another-one</a>
    </p>

    <p>by 文艺的 Milk Lee</p>
</div>
