<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <span class="navbar-brand margin-left-fix">第{{volData.id}}期
            <span id="btn-fav" vol-fav class="glyphicon glyphicon-heart" style="font-size: 12px;"></span>
        </span>
        <!--为了保证在 小于768 时也是右浮动的，所以不能用 .navbar-right，得自己手写-->
        <ul class="nav navbar-nav float-fix">
            <li class="btn-group">
                <!--<div>-->
                <button class="btn btn-default navbar-btn" title="上一期" ng-click="prev()">
                    <span class="glyphicon glyphicon-menu-left"></span>
                </button>
                <button class="btn btn-default navbar-btn" title="下一期" ng-click="next()">
                    <span class="glyphicon glyphicon-menu-right"></span>
                </button>
                <button class="btn btn-default navbar-btn" title="菜单" ng-click="showMenu()">
                    <span class="glyphicon glyphicon-menu-hamburger"></span>
                </button>
                <!--</div>-->
            </li>
        </ul>
    </div>
</nav>
<main>
    <div style="height: 60px">&nbsp;<!--just a height--></div>
    <div class="container text-center app-startup-loading" ng-show="status.loading">正在加载内容，请稍候……</div>
    <div ng-hide="status.loading" id="tabs-content">
        <section class="active">
            <div class="container">
                <img class="img-responsive" ng-src="{{volData.index.imgUrl}}" alt="{{volData.index.imgTitle}}" />

                <h3>{{volData.index.imgTitle}}
                    <small>{{volData.index.imgAuthor}}</small>
                </h3>
                <p>
                    {{volData.index.text}}
                </p>
            </div>
        </section>
        <section>
            <div class="container">
                <blockquote ng-show="volData.article.summary">
                    <p>{{volData.article.summary}}</p>
                </blockquote>
                <h2>{{volData.article.title}}
                    <small>{{volData.article.author}}</small>
                </h2>
                <div ng-bind-html="volData.article.content" class="app-text-content">
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <h3>{{volData.qa.q_title}}</h3>

                <p>{{volData.qa.question}}</p>

                <h3>{{volData.qa.a_title}}</h3>

                <div ng-bind-html="volData.qa.answer" class="app-text-content"></div>
            </div>
        </section>
        <section>
            <div class="container" ng-show="volData.dx.title">
                <img class="img-responsive" ng-src="{{volData.dx.imgUrl}}" alt="{{volDatal.dx.title}}" />

                <h3>{{volData.dx.title}}</h3>

                <p>{{volData.dx.summary}}</p>
            </div>
            <div class="container" ng-hide="volData.dx.title">
                第{{volData.id}}期没有东西板块 :)
            </div>
        </section>
    </div>
    <div style="height: 40px">&nbsp;<!--just a height--></div>
</main>

<nav id="tabs-panel" vol-panel class="navbar navbar-fixed-bottom" style="min-height: inherit;background-color: #fff;">
    <div class="container">
        <div class="btn-group btn-group-justified">
            <a class="btn active">首页</a>
            <a class="btn">文章</a>
            <a class="btn">问题</a>
            <a class="btn">东西</a>
        </div>
    </div>
</nav>
