<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <span class="navbar-brand app-margin-left-fix">第{{volData.id}}期
            <span id="btn-fav" role="button" vol-fav tooltip="{{favMsg}}" tooltip-placement="right" tooltip-trigger="open" class="glyphicon glyphicon-heart" style="font-size: 12px;"></span>
        </span>

        <ul class="nav navbar-nav navbar-right app-nav-right">
            <li>
                <div class="btn-group app-nav-group">
                    <button class="btn btn-default navbar-btn" title="上一期" ng-click="prev()">
                        <span class="glyphicon glyphicon-menu-left"></span>
                    </button>
                    <button class="btn btn-default navbar-btn" title="下一期" ng-click="next()">
                        <span class="glyphicon glyphicon-menu-right"></span>
                    </button>
                </div>
                <span dropdown>
                    <button class="btn btn-default navbar-btn dropdown-toggle app-dropdown-btn" dropdown-toggle title="菜单">
                        <span class="glyphicon glyphicon-menu-hamburger"></span>
                    </button>
                    <ul class="dropdown-menu app-dropdown-list">
                        <li>
                            <a role="button" ng-click="openGoToModal()">跳转到……</a>
                        </li>
                        <li><a ui-sref="fav">我的收藏</a></li>
                        <!--todo 收藏列表-->
                        <li class="divider"></li>
                        <li><a ui-sref="about">关于『另一个』</a></li>
                    </ul>
                </span>
            </li>
        </ul>
    </div>
</nav>
<main>
    <div style="height: 60px">&nbsp;<!--just a height--></div>
    <div class="container text-center app-startup-loading" ng-show="status.loading">正在加载内容，请稍候……</div>
    <div class="container text-center app-startup-loading" ng-show="status.is404">
        <div>这期文章还没出来呢！</div>
        <div>
            <button class="btn btn-link" ng-click="goBack()">返回上一页</button>
        </div>
    </div>
    <div ng-hide="status.loading" id="tabs-content">
        <section ng-class="{active:1===status.current}">
            <div class="container">
                <img class="img-responsive" ng-src="{{volData.index.imgUrl}}" alt="{{volData.index.imgTitle}}" />

                <h3>{{volData.index.imgTitle}}
                    <small>{{volData.index.imgAuthor}}</small>
                </h3>
                <p>
                    {{volData.index.text}}
                </p>
            </div>
        </section>
        <section ng-class="{active:2===status.current}">
            <div class="container">
                <blockquote ng-show="volData.article.summary">
                    <p>{{volData.article.summary}}</p>
                </blockquote>
                <h2>{{volData.article.title}}
                    <small>{{volData.article.author}}</small>
                </h2>
                <div ng-bind-html="volData.article.content" class="app-text-content">
                </div>
            </div>
        </section>
        <section ng-class="{active:3===status.current}">
            <div class="container">
                <h3>{{volData.qa.q_title}}</h3>

                <p>{{volData.qa.question}}</p>

                <h3>{{volData.qa.a_title}}</h3>

                <div ng-bind-html="volData.qa.answer" class="app-text-content"></div>
            </div>
        </section>
        <section ng-class="{active:4===status.current}">
            <div class="container" ng-show="volData.dx.title">
                <img class="img-responsive" ng-src="{{volData.dx.imgUrl}}" alt="{{volDatal.dx.title}}" />

                <h3>{{volData.dx.title}}</h3>

                <p>{{volData.dx.summary}}</p>
            </div>
            <div class="container" ng-hide="volData.dx.title">
                第{{volData.id}}期没有东西板块 :)
            </div>
        </section>
    </div>
    <div style="height: 40px">&nbsp;<!--just a height--></div>
</main>

<!-- vol-panel -->
<nav id="tabs-panel" class="navbar navbar-fixed-bottom" style="min-height: inherit;background-color: #fff;">
    <div class="container">
        <div class="btn-group btn-group-justified">
            <a class="btn" ng-class="{active:1===status.current}" ng-click="switchTo(1)">首页</a>
            <a class="btn" ng-class="{active:2===status.current}" ng-click="switchTo(2)">文章</a>
            <a class="btn" ng-class="{active:3===status.current}" ng-click="switchTo(3)">问题</a>
            <a class="btn" ng-class="{active:4===status.current}" ng-click="switchTo(4)">东西</a>
        </div>
    </div>
</nav>
<!--some modals-->
<script type="text/ng-template" id="myModalContent.html">
    <form ng-submit="$close(wantToVolId)">
        <div class="modal-body">
            <!-- bug fix：移动设备上 input 与 button:submit 无法获取焦点，见 https://github.com/angular-ui/bootstrap/issues/2017 -->
            跳转到第<input style="margin:0 3px;width: 60px;" stop-touchend type="number" ng-model="wantToVolId" required min="1" />期
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" stop-touchend>确定</button>
            <button type="button" class="btn btn-default" ng-click="$dismiss()">取消</button>
        </div>
    </form>
</script>
