<ion-view ng-controller="VolDetailCtrl" view-title="第{{model.id}}期">
    <ion-spinner ng-show="context.loading"></ion-spinner>
    <p ng-show="!context.loading&&context.is404">这一期内容还没有发布！</p>
    <ion-slide-box ng-hide="!context.loading&&context.is404" show-pager="false" style="height: 100%">
        <ion-slide>
            <ion-content has-bouncing="true">
                <img width="100%" ng-src="{{model.index.imgUrl}}" alt="{{model.index.imgTitle}}" />

                <div class="padding">
                    <h3>{{model.index.imgTitle}}
                        <small>{{model.index.imgAuthor}}</small>
                    </h3>
                    <p>
                        {{model.index.text}}
                    </p>
                </div>
            </ion-content>
        </ion-slide>
        <ion-slide>
            <ion-content has-bouncing="true" class="padding">
                <blockquote ng-show="model.article.summary">
                    <p>{{model.article.summary}}</p>
                </blockquote>
                <h2>{{model.article.title}}
                    <small>{{model.article.author}}</small>
                </h2>
                <div ng-bind-html="model.article.content" class="app-text-content">
                </div>
            </ion-content>
        </ion-slide>
        <ion-slide>
            <ion-content has-bouncing="true" class="padding">
                <h3>{{model.qa.q_title}}</h3>

                <p>{{model.qa.question}}</p>

                <h3>{{model.qa.a_title}}</h3>

                <div ng-bind-html="model.qa.answer" class="app-text-content"></div>
            </ion-content>
        </ion-slide>
        <ion-slide>
            <ion-content has-bouncing="true" class="padding">
                <div ng-show="model.dx.title">
                    <img width="100%" ng-src="{{model.dx.imgUrl}}" alt="{{model.dx.title}}" />

                    <h3>{{model.dx.title}}</h3>

                    <p>{{model.dx.summary}}</p>
                </div>
                <div ng-hide="model.dx.title">
                    第{{model.id}}期没有东西板块 :)
                </div>
            </ion-content>
        </ion-slide>
    </ion-slide-box>
</ion-view>
